form {
  display: flex;
}

#input-search-repositories {
  width: 70%;
  display: inline-block;
}

#searchButton {
  flex: 1;
  display: inline-block;
  height: calc(1.5em + 1.5rem + 0px);
  padding: 0;
}